{% extends 'base.html' %}

{% block extra_css %}
{% endblock %}

{% block title %}<h1>Sign up page</h1>{% endblock %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <table style="padding: 2ex;">
    {{ form.as_table }}     {# this line shows the sign-up form #}
    <tr>
    <td colspan="2">
    <button type="submit">Register</button>
    </td>
    </tr>
    </table>
</form>
  <a href="{% url 'login' %}?next={{request.path}}" class="custom-button-link">Log in</a> <br>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        const birthdayField = document.querySelector('input[name="birthday"]');

        if (birthdayField) {
            // Calculate the minimum date (13 years ago from today)
            const today = new Date();
            const minDate = new Date(today.setFullYear(today.getFullYear() - 13));

            // Format the date in YYYY-MM-DD
            const formattedDate = minDate.toISOString().split('T')[0];

            // Set the max attribute in the input field to prevent users under 13 from selecting dates
            birthdayField.setAttribute('max', formattedDate);
        }
    });
</script>

{% endblock %}

