{% extends 'base.html' %}

{% block extra_css %}
{% endblock %}

{% block title %}
        <div class="title">Relationships</div>
{% endblock %}

{% block content %}
<a href="?type=following">Following</a>
<a href="?type=followers">Followers</a>
<a href="?type=friends">Friends</a>
<a href="?type=blocked">Blocked</a>
<ul>
  {% for obj in relationships %}
    <li>
      {% if obj_type == 'followers' %}
        <a href="{% url 'yumelinkapp:user_profile' obj.follower %}">{{ obj.follower }}</a>
      {% elif obj_type == 'friends' %}
        <a href="{% url 'yumelinkapp:user_profile' obj.follower %}">{{ obj.follower }}</a>
      {% elif obj_type == 'blocked' %}
        <a href="{% url 'yumelinkapp:user_profile' obj.blocked %}">{{ obj.blocked }}</a>
      {% else %}
        <a href="{% url 'yumelinkapp:user_profile' obj.user %}">{{ obj.user }}</a>
      {% endif %}
    </li>
  {% empty %}
    <li>No relationships found.</li>
  {% endfor %}
</ul>

{% endblock %}
