<{% extends 'base.html' %}

{% block extra_css %}
        .content {
            margin: 20px;
        }
        .menu-item {
            background-color: #ccc;
            color: black;
            padding: 20px;
            margin: 10px 0;
            cursor: pointer;
            text-align: center;
            transition: background-color 0.3s;
            border-radius: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .menu-item:hover {
            background-color: #bbb;
        }
        .menu-item span {
            margin-left: 10px;
        }
{% endblock %}

{% block title %}
        <div class="title">My Account</div>
{% endblock %}
{% block content %}
    <div class="content">
        <div class="menu-item" onclick="location.href='{% url 'login' %}?next={{ request.path }}';">Login <span>&#10145;</span></div>
        <div class="menu-item" onclick="document.getElementById('logout-form').submit();">
            Logout <span>&#11013;</span>
        </div>

        <!-- Hidden logout form -->
        <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
            {% csrf_token %}
        </form>

        <div class="menu-item" onclick="location.href='{% url 'yumelinkapp:change_password' %}';">Change password</div>
<!--        <div class="menu-item"onclick="location.href='{% url 'yumelinkapp:delete_user' %}'">Delete</div>-->
    </div>
{% endblock %}
