<{% extends 'base.html' %}

{% block extra_css %}
        body {
            font-family: Arial, sans-serif;
            background-color: #222; /* Dark background */
            color: white;
            margin: 0;
            padding: 0;
        }
        .header {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            background-color: #666;
            padding: 30px 15px;
            gap: 10px;
        }
        .header h1 {
            font-size: 24px;
            margin: 0;
        }
        .header .menu-icon {
            font-size: 24px;
            cursor: pointer;
        }
        .content {
            margin: 20px;
        }
        .menu-item {
            background-color: #ccc;
            color: black;
            padding: 20px;
            margin: 10px 0;
            cursor: pointer;
            text-align: center;
            transition: background-color 0.3s;
            border-radius: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .menu-item:hover {
            background-color: #bbb;
        }
        .menu-item span {
            margin-left: 10px;
        }
{% endblock %}

{% block title %}
        <span class="menu-icon" onclick="history.back();">&#8592;</span> <!-- Back arrow -->
        <div class="title">My Account</div>
{% endblock %}
{% block content %}
    <div class="content">
        <div class="menu-item" onclick="location.href='{% url 'login' %}?next={{ request.path }}';">Login <span>&#10145;</span></div>
        <div class="menu-item" onclick="document.getElementById('logout-form').submit();">
            Logout <span>&#11013;</span>
        </div>

        <!-- Hidden logout form -->
        <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
            {% csrf_token %}
        </form>

        <div class="menu-item" onclick="location.href='/settings/account_manage/change_password/';">Change password</div>
<!--        <div class="menu-item">Delete</div>-->
    </div>
{% endblock %}
