{% extends 'base.html' %}

{% block extra_css %}{% endblock %}

{% block title %}
        <div class="title">Community Guidelines</div>
{% endblock %}

{% block content %}
    <p>We strive to foster a positive and respectful community. Please review the following guidelines to ensure a safe and enjoyable environment for everyone:</p>

    <ul>
        {% for rule in guidelines %}
        <li><strong>{{ rule.name }}</strong>: <br> {{ rule.content }} </li><br>
        {% endfor %}
    </ul>
{% endblock %}