{% extends 'base.html' %}

{% block extra_css %}
{% endblock %}

{% block title %}
Filter Content Settings
{% endblock %}

{% block content %}

<h1 style="text-align: center;">To see Mature content, choose mature</h1>
<form method="post" style="max-width: 600px; margin: 0 auto; padding: 20px; border: 1px solid #ccc; border-radius: 10px; background-color: #f9f9f9;">
    {% csrf_token %}
    <div style="margin-bottom: 15px;">
    {{ form.as_p }}
    </div>
    <button type="submit">Save</button>
</form>
{% endblock %}