{% extends 'base.html' %}

    {% block extra_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'yumelinkapp/posts.css' %}">
{% load video_embed %}
{% endblock %}

{% block title %}
    <div class="title">Home</div>
    <div class="icon">
        <a href="{% url 'yumelinkapp:create_post' %}">
            Create post📝
        </a>
    </div>
{% endblock %}

{% block content %}
<form method="get" action="{% url 'yumelinkapp:home' %}">
    <input type="text" name="search" placeholder="Search posts..." value="{{ search_query }}">
    <button type="submit">Search</button>
</form>
<div class="posts">
    {% for post in posts_with_images %}
    <div class="post">

        <h4>User: <a href="
        {% if user.is_authenticated %}
        {% url 'yumelinkapp:user_profile' post.post.user.username %}
        {% else %}
        {% url 'login' %}?next={% url 'yumelinkapp:user_profile' post.post.user.username %}
        {% endif %}">{{ post.post.user }}</a></h4>
        <p>{{ post.post.content|embed_video|safe }}</p>
        {% for image in post.post_images %}
            <img src="{{ image.image.url }}" alt="Post Image" style="max-width: 150px;" />
        {% endfor %}
        {% if post.post_images %}
            </br>
        {% endif %}
        <a href="
        {% if user.is_authenticated %}
        {% url 'yumelinkapp:post' post.post.id %}
        {% else %}
        {% url 'login' %}?next={% url 'yumelinkapp:post' post.post.id %}
        {% endif %}">See more...</a>
        </br></br>

    </div>

    {% endfor %}
</div>

{% endblock %}
