{% extends 'base.html' %}

    {% block extra_css %}
{% load static %}

<link rel="stylesheet" href="{% static 'posts.css' %}">
{% endblock %}

{% block title %}
    <div class="title">Home</div>
<!--create post-->
<!--    <div class="icon">📝</div>-->
{% endblock %}

{% block content %}
<div class="posts">
    {% for post in posts_with_images %}
    <div class="post">

        <h4>User: {{ post.post.user }}</h4>
        <a href="{% url 'yumelinkapp:post' post.post.id %}">{{ post.post.content }}</a>
        </br>
        {% for image in post.post_images %}
            <img src="{{ image.image.url }}" alt="Post Image" style="max-width: 150px;" />
        </br>
        {% endfor %}
    </div>

    {% endfor %}
</div>

{% endblock %}
