{% extends 'base.html' %}

{% block extra_css %}
{% load video_embed %}
{% endblock %}

{% block title %}
<div class="title">Post</div>
    <div class="icon">📝</div>
<!-- make it drop down -->
{% if user == post.user %}
<a href="{% url 'yumelinkapp:edit_post' post.id %}">Edit Post</a>
<a href="{% url 'yumelinkapp:delete_post' post.id %}">Delete Post</a>
{% else %}
<a href="{% url 'yumelinkapp:report' obj_id=post.id content_type='post' %}">Report Post</a>
{% endif %}
{% endblock %}

{% block content %}
        <h4>{{ post.user }}</h4>
<p>{{ post.content|embed_video|safe }}</p>
<!--have 3 dots and dropdown for edit, delete-->

{% for image in post_images %}
<div class="post-image">
    <img src="{{ image.image.url }}" alt="Post Image" />
</div>
{% endfor %}
<h3>Tags</h3>
<p>{% for tag in tags %}
{{ tag.content }},
{% endfor %}</p>

<!--specific buttons for like, love, share, comment-->

<p>
    <a href="{% if has_liked %}{% url 'yumelinkapp:unlike_post' post.id %}{% else %}{% url 'yumelinkapp:like_post' post.id %}{% endif %}">
        {% if has_liked %}Unlike{% else %}Like{% endif %}
    </a>: {{ likes }}
    <a href="{% if has_loved %}{% url 'yumelinkapp:unlove_post' post.id %}{% else %}{% url 'yumelinkapp:love_post' post.id %}{% endif %}">
        {% if has_loved %}Unlove{% else %}Love{% endif %}
    </a>: {{ loves }}
    <a href="{% url 'yumelinkapp:share_post' post.id %}">Shares</a>: {{ shares }}
</p>

{% for object in comments %}
<h4>{{ object.comment.user }}</h4>
<a href="{% url 'yumelinkapp:comment' post_id=object.comment.post.id pk=object.comment.id %}">{{ object.comment.content }}</a>
<br>
{% if object.owns %}
<a href="{% url 'yumelinkapp:delete_comment' post_id=object.comment.post.id pk=object.comment.id %}">Delete</a>
{% endif %}
{% endfor %}

<br>

<!--comment-->

<form action="{% url 'yumelinkapp:create_comment' post_id=post.id %}" method="POST">
    {% csrf_token %}
    {{ user }} :
    <textarea name="content" rows="1" cols="50" placeholder="Write your comment here..."></textarea>
    <button type="submit">Submit Comment</button>
</form>

{% endblock %}
