{% extends 'base.html' %}

{% block extra_css %}
        .content {
            margin: 20px 0;
        }
        .menu-item {
            background-color: #ccc;
            color: black;
            padding: 30px 20px;
            margin: 10px 0;
            cursor: pointer;
            text-align: center;
            transition: background-color 0.3s;
        }
        .menu-item:hover {
            background-color: #bbb;
        }
{% endblock %}

{% block title %}
        <div class="title">Settings</div>
{% endblock %}

{% block content %}
<div class="content">
        <div class="menu-item" onclick="location.href='{% url 'yumelinkapp:account_manage' %}';">Account manage </div>
        <div class="menu-item" onclick="location.href=#;">filter content </div>
        <div class="menu-item" onclick="location.href='{% url 'yumelinkapp:notifications' %}';">Notification </div>
        <div class="menu-item" onclick="location.href='{% url 'yumelinkapp:contact' %}';">Contact </div>
    <div class="menu-item" onclick="location.href='{% url 'yumelinkapp:community_guidelines' %}';">Community Guidelines</div>
    <div class="menu-item" onclick="location.href='{% url 'yumelinkapp:about_us' %}';">About Us</div>
    </div>
{% endblock %}