<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

{% load static %}

{% block extra_css %} {% endblock %}

{% if user.is_authenticated %}
   Welcome back, {{ user.username }}
   <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Log Out</button>
   </form>{% else %}
   Please <a href="{% url 'login' %}?next={{request.path}}">Login</a>
{% endif %}

{% block title %} {% endblock %}
{% if messages %}
    <h2 class="messages">
        {% for message in messages %}
            <p style="color:red;" class="{{ message.tags }}">{{ message }}</p>
        {% endfor %}
    </h2>
{% endif %}

{% block content %}{% endblock %}



</body>
</html>